$text-color-contrasted: false;
$maincolor: #C00058;
$text-color-contrasted: #FFF;
$buttonDarken: 20%;
$textcolor:#333;
$linkcolor:#069;
$contrasted-default-dark:   #000;
$contrasted-default-light:  #fff;
$contrasted-default-extremelight: #35c3d9;
$widgetbackground: #f7f7f7;
$widgetbordercolor: darken($widgetbackground,5%);